.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build
/app/app.iml

#############################
# Arquivos Gerados pelo OSX #
#############################
.DS_Store
._*
.Spotlight-V100
.Trashes
